<button mat-button routerLink="../../">Retour</button>
<br>

<mat-card *ngIf="university !== undefined">

  <mat-card-title>
    {{university.name}}
  </mat-card-title>

  <mat-card-content>
    <mat-list>
    <mat-list-item>Pays : {{university.country}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Lien vers l'école : {{university.url_to_website}}</mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>


<br>
<mat-card class="course" *ngIf="university != undefined">
  <mat-card-title>
    Cours de l'école
  </mat-card-title>
  <mat-card-content>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let course of university.courses">

        <mat-expansion-panel-header>
          <mat-panel-title>
            {{course.name}}
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-list>
          <mat-list-item>Lien vers le cours : {{course.link_to_courses}} </mat-list-item>
          <mat-list-item>Nombre d'ECTS acquis : {{course.ECTS_count}}</mat-list-item>
          <mat-list-item>Semestre concerné : {{course.semester}}</mat-list-item>
          <mat-list-item>Description du cours : {{course.description}}</mat-list-item>
        </mat-list>

        <mat-action-row>
          <button mat-button color="warn" (click)="deleteCourse(course)">Supprimer ce cours</button>
        </mat-action-row>

      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>
<br>

<button class="add-button" mat-button color="primary" (click)="openDialog()"> Ajouter un cours</button>

