<app-back-header [backNumber]="2"></app-back-header>
<br>

<mat-card *ngIf="university !== undefined">

  <mat-card-title>
    {{university.name}}
  </mat-card-title>

  <mat-card-content>
    <mat-list>
    <mat-list-item>Pays : {{university.country}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Lien vers l'école : &nbsp; <a href="{{university.url_to_website}}" target="_blank">{{university.name}}</a></mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>


<br>
<mat-card class="course" *ngIf="university != undefined">
  <mat-card-title>
    Cours de l'école
  </mat-card-title>
  <mat-card-content>
    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="orderList($event)" class="mat-elevation-z8">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom du cours </th>
        <td mat-cell *matCellDef="let element"> <a href="{{element.link_to_courses}}" target="_blank">{{element.name}}</a></td>
      </ng-container>

      <ng-container matColumnDef="ECTS">
        <th mat-header-cell *matHeaderCellDef> ECTS </th>
        <td mat-cell *matCellDef="let element"> {{element.ECTS_count}} </td>
      </ng-container>

      <ng-container matColumnDef="semester">
        <th mat-header-cell *matHeaderCellDef> Semestre concerné </th>
        <td mat-cell *matCellDef="let element"> {{element.semester}} </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Supprimer ce cours </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="warn" (click)="deleteCourse(element)" >
            <i class="material-icons">
              clear
            </i>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>

    </table>
  </mat-card-content>
</mat-card>
<br>

<button class="add-button" mat-button color="primary" (click)="openDialog()"> Ajouter un cours</button>
<br>
<br>
