.grid-form-university {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center center;
}
.dynamic_list {
  border: solid 1px #ccc;
  min-height: 49px;
  background: white;
  overflow: hidden;
  display: block;
}

.bri-rankings-grid{
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 50px;
}
.grid-student-ranking-title {
  display: grid;
  grid-template-columns: 20px 10px 250px 10px 250px 10px 250px;
  grid-column-gap: 20px;
}


.grid-student-to-rank-title {
  display: grid;
  grid-template-columns: 250px 10px 250px 10px 250px;
  grid-column-gap: 20px;
}
