.grid-form-university {
  display: grid;
  grid-template-columns: 70% auto;
}
.dynamic_list {
  border: solid 1px #ccc;
  min-height: 60px;
  background: white;
  overflow: hidden;
  display: block;
}
.grid-student-ranking-title {
  display: grid;
  grid-template-columns: 20px 10px 120px 10px 120px 10px 120px;
  grid-column-gap: 20px;
}


.grid-student-to-rank-title {
  display: grid;
  grid-template-columns: 120px 10px 120px 10px 120px;
  grid-column-gap: 20px;
}
