<app-bri-appointment [bri]="bri"></app-bri-appointment>
<mat-card>
<mat-card-title>Choisir la destination</mat-card-title>
<form [formGroup]="universityForm" class="grid-form-university">
<mat-form-field>
  <mat-label>Université</mat-label>
  <mat-select class="grid-form-university-item" [formControlName]="'university'">
    <mat-option *ngFor="let univ of universities" [value]="univ">
      {{univ.country}} - {{univ.name}}
    </mat-option>
  </mat-select>
  <button class="button-university-form" mat-button (click)="chooseUniversity()">Choisir l'université</button>

</mat-form-field>
</form>
</mat-card>

<div class="container">
  <mat-card>
    <mat-card-title>Classements des étudiants</mat-card-title>
    <mat-accordion *ngIf="rankedStudent !== undefined"
                   cdkDropList
                   (cdkDropListDropped)="drop($event)">
      <mat-expansion-panel *ngFor="let elem of rankedStudent; let i = index" cdkDrag>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{i}} {{ elem.email }}
            <!--N° {{ elem[0] }} {{ elem[1] }}-->
        </mat-panel-title>
      </mat-expansion-panel-header>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card>
</div>

