<header class="student-header">
  <mat-toolbar>
    <i class="material-icons" routerLink="form">
      settings
    </i>
    <span class="space"></span>
    <i class="material-icons" routerLink="message">
      local_post_office
    </i>
  </mat-toolbar>
  <div class="container">
    <div class="header-headline">
      <h1>Etudiant</h1>
      <h2>Erasmus c'est par ici</h2>
    </div>
    <div class="header-button">
      <button routerLink="wishcreation" mat-button class="createWish">Formuler un voeu</button>
    </div>
  </div>
</header>
