<mat-card>
  <mat-card-title>Vos rendez-vous</mat-card-title>
  <mat-card-content>
    <div class="cardContent">
      <mat-form-field class="appointment-form">
        <input matInput class="inputDate" [matDatepickerFilter]="myFilter" [matDatepicker]="picker" placeholder="Choisissez une date"
               (dateChange)="getDateChoose($event)" disabled>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker [dateClass]="dateUsed" disabled="false" #picker></mat-datepicker>
      </mat-form-field>

      <table *ngIf="drawTable" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="firstName">
          <th mat-header-cell *matHeaderCellDef> Prénom </th>
          <td mat-cell *matCellDef="let element">
            <span *ngIf="element.reservedBy !== undefined">{{element.reservedBy.firstName}}</span></td>
        </ng-container>

        <ng-container matColumnDef="lastName">
          <th mat-header-cell *matHeaderCellDef> Nom </th>
          <td mat-cell *matCellDef="let element">
            <span *ngIf="element.reservedBy !== undefined">{{element.reservedBy.lastName}}</span>
            <span *ngIf="element.reservedBy === undefined">Créneau libre</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="major">
          <th mat-header-cell *matHeaderCellDef> Filière </th>
          <td mat-cell *matCellDef="let element">
            <span *ngIf="element.reservedBy !== undefined">{{element.reservedBy.studentInfo.major}}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="timeSlot">
          <th mat-header-cell *matHeaderCellDef> Créneau </th>
          <td mat-cell *matCellDef="let element"> de {{element.slot.departureTime.getHours()}}h {{element.slot.departureTime.getMinutes()}}mn à
            {{element.slot.endTime.getHours()}}h {{element.slot.endTime.getMinutes()}}mn</td>
        </ng-container>

        <ng-container matColumnDef="details">
          <th mat-header-cell *matHeaderCellDef> Détails </th>
          <td mat-cell *matCellDef="let element">
           <button mat-icon-button color="primary">
             <i *ngIf="element.reservedBy !== undefined" class="material-icons" routerLink="student/{{element.reservedBy._id}}">
               reorder
             </i>
           </button>
             <button mat-icon-button color="primary" [disabled]="true">
             <i *ngIf="element.reservedBy === undefined" class="material-icons" >
               clear
             </i>
           </button>
         </td>
       </ng-container>
       <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
       <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
     </table>
     <mat-card *ngIf="!drawTable" class="details-card">
       <mat-card-content>
         <mat-list role="list">
           <mat-list-item role="listitem">
             Cliquer sur l'icône du calendrier&nbsp;
             <i class="material-icons">
              calendar_today
            </i>
             &nbsp;pour voir tous vos créneaux
           </mat-list-item>
           <mat-list-item role="listitem">
             <div id="cercle"></div> Date où vous avez défini vos disponibilités</mat-list-item>
           <mat-list-item role="listitem">
             Si vous n'avez pas défini de disponibilités ajoutez en ici&nbsp;
             <button mat-icon-button color="primary" (click)="openDialog()">
               <i class="material-icons">
                 add_box
               </i></button>
           </mat-list-item>
         </mat-list>
       </mat-card-content>
     </mat-card>
   </div>
 </mat-card-content>
  <mat-card-footer>
    <button mat-button class="createSlot" (click)="openDialog()">
      Créer un nouveau créneau
    </button>
  </mat-card-footer>
</mat-card>
