.appointment {
  background-color: #00aeef;
  border-radius: 100%;
}

.mat-card{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3vh;
}

.cardContent{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.mat-table{
  width: 70%;
}

.mat-card-footer{
  padding: 10px;
}

.createSlot{
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-color: #00aeef;
  color: white;
}

.details-card{
  width: auto;
  text-align: center;
}

#cercle {
  width: 30px;
  height: 30px;
  border-radius: 20px;
  margin-right: 10px;
  background: #00aeef;
}

.mat-form-field{
  margin-top: auto;
  margin-bottom: auto;
  font-size: 17px;
  width: 20%;
}
