<mat-card>
  <mat-card-title>
    Informations
  </mat-card-title>
  <mat-card-content>
    <mat-list>
      <mat-list-item>Numéro étudiant : {{currentStudent.studentInfo.numStu}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Nom : {{currentStudent.lastName}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Prénom : {{currentStudent.firstName}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Email : {{currentStudent.email}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Filière actuelle : {{currentStudent.studentInfo.major}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Spécialité de dernière année : {{currentStudent.studentInfo.lastYearMajor}}</mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
