.mat-list{
display: block;
width: 50%;
  margin-right: auto;
  margin-left: auto;
}

.mat-divider {
}

.form{
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.mat-form-field{
  width: 50%;
  display: block;
  margin: auto;
}

.mat-progress-bar{
  width: 50%;
  margin: auto;
}

.button-validate{
  background-color: rgb(0, 174, 239);
  display: block;
  margin: auto;
  color: white;
}

.mat-card {
  width:90%;
  margin: auto;
}

#form {
  width: 90%;
}

p {
  font-family: Arial;
  text-align: center;
}
.mat-table {
  width: 90%;
  margin: auto;
}

.courseToSelect {
  margin-right: auto;
}
