<div *ngIf="student!=undefined" class="form">
  <button mat-button routerLink="..">Retour</button>

  <mat-card>
    <mat-card-content>
      <mat-list>
        <mat-list-item>Nom : {{student.lastName}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Prénom : {{student.firstName}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Email : {{student.email}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Filière actuelle : {{student.major}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Spécialité de dernière année : {{student.firstName}}</mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>

  <br>
  <mat-card id="form">
    <mat-card-content>
      <form class="wish-form" [formGroup]="wishForm">
        <mat-form-field>
          <mat-label>Semestre d'échange </mat-label>
          <mat-select [formControlName]="'semester'" [(ngModel)]="semester">
            <mat-option value="7">Semestre 7</mat-option>
            <mat-option value="8">Semestre 8</mat-option>
          </mat-select>
        </mat-form-field>
        <br>

        <br>
        <mat-form-field>
          <mat-label>Université</mat-label>
          <mat-select [formControlName]="'university'" [(ngModel)]="university">
            <mat-option *ngFor="let univ of universitiesChangedList" [value]="univ.name">
              {{univ.country}} - {{univ.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <button mat-button class="button-validate" (click)="validateForm()">Valider</button>
      </form>
    </mat-card-content>
  </mat-card>

<br>
<br>
<br>
  <div class="univ" *ngIf="university!=null">
   Vous avez choisi l'université {{university.name}}
  </div>
<br>

  <div class="wish" *ngIf="university!=null && courses !=undefined">
    <mat-card>
      <mat-card-title>Liste de voeux</mat-card-title>
      <mat-card-content>
       <mat-list>
         <mat-list-item *ngFor="let course of courses">
            <mat-checkbox
              (change)="addCourse($event, course)">
              <a href="{{course.link_to_courses}}">{{course.name}}</a> - ECTS : {{course.ECTS_count}}
            </mat-checkbox>
          </mat-list-item>
        </mat-list>
        <!--<mat-selection-list #cours (selectionChange)="addCourse($event, cours.selectedOptions)"  >
          <mat-list-option *ngFor="let course of courses">
            <a href="{{course.link_to_courses}}">{{course.name}}</a> - ECTS : {{course.ECTS_count}}
          </mat-list-option>
        </mat-selection-list> -->
      </mat-card-content>
    </mat-card>
    <br>
    <br>

    <mat-card>
      <mat-card-title>
        30 ECTS requis :
      </mat-card-title>
      <mat-card-content>
        <mat-progress-bar
          [value]="nbECTS*100/30">
        </mat-progress-bar>
      </mat-card-content>
    </mat-card>

    <br>
    <button routerLink=".." *ngIf="nbECTS>=30" mat-button class="button-validate" (click)="validateWish()">Valider ce voeu</button>
  </div>


</div>
<br>
<br>
