<button mat-button routerLink="../../">Retour</button>
<div *ngIf="currentStudent != undefined && teacher != undefined">
  <app-student-info [currentStudent]="currentStudent"></app-student-info>

  <br>

  <app-student-info-wishes [currentStudent]="currentStudent"></app-student-info-wishes>

  <br>

  <mat-card class="card-button" *ngIf="currentStudent.studentInfo.stateValidation === 'waitTeacher'">
    <mat-toolbar>
      <button mat-button color="warn" (click)="openDialog()">Refuser le dossier</button>
      <span class="tmp"></span>
      <button mat-button (click)="validateStudent()" color="primary">Valider le dossier</button>
    </mat-toolbar>
  </mat-card>
</div>
