.form-container {
  display: flex;
  flex-direction: column;
  margin-left: 40%;
  margin-top: 10vh;
}

.form-container > * {
  width: 30%;
}

.upload-container {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 10%;
}

.upload-container > * {
  width: 100%;
}

.upload-container > span {
  width: 40%;
  color: #666666;
  font-family: "Arial", Arial, sans-serif;
  font-weight: lighter;
}

.upload-container > input {
  font-size: 2vh;
  color: #0046FF;
}

.attachment-form{
  text-align: center;
}

.mat-card{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
}

.spe-form{
  text-align: center;
}

.spe-form-field{
  width: 500px;
}

.validate-spe{
  margin-left: 1%;
}
