<app-form (currentUser)="updateUser($event)"></app-form>


<div class="form-container">

  <form class ='student-form' [formGroup]="studentForm">

    <mat-form-field>
      <mat-select placeholder="Filière" [formControlName]="'major'">
          <mat-option *ngFor="let major of MAJOR_LIST" [value]="major">{{major}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Année" [formControlName]="'year'">
        <mat-option *ngFor="let year of YEAR_LIST" [value]="year" >{{year}}</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <br>
    <br>
    <div>
      <button mat-button (click)="saveChanges()"> Sauvegarder les modification </button>
    </div>
  </form>




</div>
