
<button mat-button routerLink="..">Retour</button>

<div *ngIf="userDetails != undefined">
  <app-student-info [currentStudent]="userDetails"></app-student-info>

  <mat-card class="card-spe">
    <mat-card-title>Modifier votre spéciliatié de dernière année</mat-card-title>
    <mat-card-content>
      <form class="spe-form" [formGroup]="specialityForm">
        <mat-form-field class="spe-form-field">
          <mat-label>Spécialité de dernère année</mat-label>
          <mat-select [formControlName]="'speciality'">
            <mat-option *ngFor="let spe of SPE_LIST" [value]="spe">{{spe}}</mat-option>
          </mat-select>
        </mat-form-field>
        <button class="validate-spe" (click)="updateSpecialty()" mat-button>Valider</button>
      </form>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Vos bulletins & notes</mat-card-title>
    <mat-card-content>
      <span>Relevés de notes depuis l’entrée dans l’enseignement supérieur (PDF) :</span>

      <mat-list role="list">
        <mat-list-item role="listitem" *ngFor="let att of userDetails.studentInfo.attachments">

        </mat-list-item>
      </mat-list>

      <form class='attachment-form' [formGroup]="attachmentForm">
          <input type="file" id="transcript"
                 accept=".doc,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,.pdf,.zip"
                 (change)="fileChange($event, 'bo')">
          <mat-form-field class="form-container2">
            <input matInput type="text" [formControlName]="'name'" value="{{attachmentForm.value['name']}}" readonly>
          </mat-form-field>
        <form class="note-form" [formGroup]="noteForm">

        </form>
      </form>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Autres document à saisir</mat-card-title>
    <mat-card-content>

      <mat-accordion>
        <mat-expansion-panel *ngFor="let file of FILE_LIST">
          <mat-expansion-panel-header>
            <mat-panel-title>{{file.name}}</mat-panel-title>
            <mat-panel-description class="red-span" *ngIf="!file.used">NON RENSEIGNÉ</mat-panel-description>
            <mat-panel-description class="green-span" *ngIf="file.used">RENSEIGNÉ</mat-panel-description>
          </mat-expansion-panel-header>
          <div class="add-file" *ngIf="!file.used">
            <input type="file" id="coveringLetter"
                   accept=".doc,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,.pdf"
                   (change)="fileChange($event, file.file)">
            <button mat-button class="validate-spe" (click)="validateFile(file.file)">Valider</button>
          </div>
          <div class="add-file" *ngIf="file.used">
            <span>Vous avez mis le fichier suivant : {{file.nameFinal}}</span>
            <button mat-button class="validate-spe" (click)="download(file.nameFinal)">Voir le fichier</button>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
  </mat-card>

  <br>
</div>


