<h1 mat-dialog-title>Création d'un créneau</h1>
<div class="content" mat-dialog-content>
  <mat-form-field class="appointment-form">
    <input matInput [matDatepicker]="picker" [matDatepickerFilter]="myFilter" placeholder="Choisissez une date" (dateChange)="onDateSelected($event)" disabled>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker disabled="false" #picker></mat-datepicker>
  </mat-form-field>
  <form class="add-form" [formGroup]="dateForm" *ngIf="dateSelected">
    <mat-form-field>
      <mat-label>Heure </mat-label>
      <mat-select [formControlName]="'hourDep'">
        <mat-option *ngFor="let h of hour" [value]="h">{{h}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Minute </mat-label>
      <mat-select [placeholder]="min[0]" [formControlName]="'minDep'">
        <mat-option *ngFor="let minute of min" [value]="minute">{{minute}}</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Heure</mat-label>
      <mat-select [formControlName]="'hourEnd'">
        <mat-option *ngFor="let h of hour" [value]="h">{{h}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Minute</mat-label>
      <mat-select [formControlName]="'minEnd'">
        <mat-option *ngFor="let minute of min" [value]="minute">{{minute}}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
<mat-toolbar>
  <button mat-button color="primary" (click)="back()">Retour</button>
  <span class="tmp"></span>
  <button mat-button color="warn" *ngIf="dateSelected" (click)="createTimeSlot()" >Créer</button>
</mat-toolbar>
