<div class="form">
  <button mat-button> < Retour</button>

  <mat-list>
    <mat-list-item>Nom : {{student.lastName}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Prénom : {{student.firstName}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Email : {{student.email}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Filière actuelle : {{student.major}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Spécialité de dernière année : {{student.firstName}}</mat-list-item>
  </mat-list>

  <br>
  <form class="connection-form" [formGroup]="wishForm">
  <mat-form-field>
    <mat-label>Semestre d'échange </mat-label>
    <mat-select [formControlName]="'semester'" [(ngModel)]="semester">
      <mat-option value="7">Semestre 7</mat-option>
      <mat-option value="8">Semestre 8</mat-option>
    </mat-select>
  </mat-form-field>
  <br>

  <mat-form-field>
    <mat-label>Pays</mat-label>
    <mat-select [formControlName]="'country'" [(ngModel)]="country">
      <mat-option *ngFor="let country of countries" [value]="country">
        {{country}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <br>
  <mat-form-field>
    <mat-label>Université</mat-label>
    <mat-select [formControlName]="'university'" [(ngModel)]="university">
      <mat-option *ngFor="let univ of getUniversityByCountryAndMajor(country)" [value]="univ.name">
        {{univ.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
    <br>
    <button mat-button class="button-validate" (click)="validateForm()">Valider</button>
  </form>
<br>
<br>
<br>
  <div *ngIf="university!=null">
   Vous avez choisi l'université {{university.name}}
  </div>
<br>
  <mat-card *ngIf="university!=null">
    <mat-card-title>Liste de voeux</mat-card-title>
    <mat-list>
      <mat-list-item *ngFor="let course of courses"> {{course.name}}</mat-list-item>
    </mat-list>
  </mat-card>
</div>
