.student-card {
  max-width: 400px;
  background-color: black;
  border-radius: 5px;
  box-shadow: 3px 2px 2px grey;
  color: white;
  margin-top: 1vh;
  margin-left: 5vw;
  cursor: pointer;
}

.student-card:hover{
  box-shadow: 9px 6px 6px grey;
}

.material-icons.md-48 {
  font-size: 48px;
  float: left;
}

.mat-button {
  background-color: white;
  left: 10%;
}
