<div *ngIf="wishes != undefined" class="container">
  <div *ngIf="wishes.length > 0">
    <span>Triez vos voeux</span>
    <mat-accordion cdkDropList class="wish-list" (cdkDropListDropped)="drop($event)">
        <mat-expansion-panel *ngFor="let wish of wishes" cdkDrag>

          <mat-expansion-panel-header>
            <mat-panel-title>
              Voeu n°{{wish.position}}
            </mat-panel-title>
            <mat-panel-description>
              <a href="{{wish.university.url_to_website}}">{{wish.university.name}}</a>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <mat-list>
            <mat-list-item *ngFor="let course of getCourseOfWish(wish)">
              {{course.name}}
              <mat-divider></mat-divider>
            </mat-list-item>
          </mat-list>

          <mat-action-row>
            <button mat-button color="warn" (click)="deleteWish(wish)">Supprimer</button>
          </mat-action-row>

        </mat-expansion-panel>
    </mat-accordion>
    <br>
    <button *ngIf="this.student.studentInfo.stateValidation =='waitStudent'" mat-button color="primary" class="validate" (click)="openDialog()">Transmettre son dossier</button>
  </div>
</div>

