<div *ngIf="wishes != undefined" class="container">
  <mat-card *ngIf="wishes.length > 0">
    <mat-card-title *ngIf="student.studentInfo.stateValidation =='waitStudent'">Triez vos voeux</mat-card-title>
    <mat-card-title *ngIf="student.studentInfo.stateValidation !='waitStudent'">Vos voeux ont été transmis</mat-card-title>
    <mat-accordion cdkDropList class="wish-list" (cdkDropListDropped)="drop($event)">
        <mat-expansion-panel *ngFor="let wish of wishes" cdkDrag>

          <mat-expansion-panel-header>
            <mat-panel-title>
              Voeu n°{{wish.position}}
            </mat-panel-title>
            <mat-panel-description>
              <a href="{{wish.university.url_to_website}}" target="_blank">{{wish.university.name}}</a>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <mat-list>
            <mat-list-item *ngFor="let course of getCourseOfWish(wish)">
              <a href="{{course.link_to_courses}}" target="_blank">{{course.name}}</a> &nbsp;- Nombre d'ECTS : {{course.ECTS_count}} - Semestre {{course.semester}}
              <mat-divider></mat-divider>
            </mat-list-item>
          </mat-list>

          <mat-action-row  *ngIf="student.studentInfo.stateValidation =='waitStudent'">
            <button mat-button color="primary" (click)="openDialogUpdate(wish)">Modifier</button>
            <button mat-button color="warn" (click)="deleteWish(wish)">Supprimer</button>
          </mat-action-row>

        </mat-expansion-panel>
    </mat-accordion>
    <br>
    <button *ngIf="student.studentInfo.stateValidation =='waitStudent'" mat-button color="primary" class="validate" (click)="openDialog()">Transmettre son dossier</button>
  </mat-card>
  <div *ngIf="wishes.length == 0">
    <mat-card>
      <mat-card-title>
        Vous n'avez pas encore choisi de voeu
      </mat-card-title>
      <mat-card-content>
        Faites un maximum de voeu afin d'optimiser vos chances d'être pris en échange ERASMUS
      </mat-card-content>
      <mat-card-footer>
        <button mat-button routerLink="wishcreation" color="primary" class="validate">Commencez dès maintenant</button>
      </mat-card-footer>
    </mat-card>
  </div>
</div>

