<mat-card>
  <mat-card-content>
    <mat-form-field class="search-bar">
      <input matInput (keyup.enter)="onSearch($event)" (keyup.backspace)="onSearch($event)" type="text" placeholder="Rechercher une université" [value]="">
    </mat-form-field>
  </mat-card-content>
</mat-card>


<mat-card>
  <mat-card-title>
    Liste des universités
  </mat-card-title>

  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let univ of universityFilter">
        {{univ.name}} - {{univ.country}}
        <button mat-button routerLink="university/{{univ._id}}">Plus de détails</button>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>

  </mat-card-content>

</mat-card>
