p {
  font-family: Arial;
  text-align: center;
}

.mat-table {
  margin: auto;
  width: 80%;
}

.button-validate {
  background-color: rgb(0, 174, 239);
  display: block;
  margin: auto;
  color: white;
}

.mat-card {
  width: 80%;
  margin: auto;
}
