.student-card {
  max-width: 400px;
  background-color: #004878;
  border-radius: 5px;
  box-shadow: 10px 5px 5px grey;

  margin-left: auto;
  margin-right: auto;

  margin-top: 50vh;
  transform: translateY(-50%);

}

.material-icons.md-48 {
  font-size: 48px;
  float: left;
}

.mat-button {
  background-color: white;
  left: 10%;
}
