<h1 mat-dialog-title>Prise de rendez-vous</h1>
<div mat-dialog-content>
  <p>Vous avez choisi un rendez-vous le {{departureTime.getDate()}}/{{departureTime.getMonth()+1}}/{{departureTime.getFullYear()}}</p>
  <p>De {{departureTime.getHours()}}h {{departureTime.getMinutes()}}mn à {{endTime.getHours()}}h {{endTime.getMinutes()}}mn</p>
</div>
<mat-toolbar>
  <button mat-button color="primary" (click)="onNoClick()">Retour</button>
  <span class="tmp"></span>
  <button mat-button color="warn" (click)="validateTimeSlot()">Validez ce créneau</button>
</mat-toolbar>
