<p>
  Partir à l'étranger, c'est génial
</p>

<mat-card class="student-card">
  <i class="material-icons">
    person
  </i>
  <mat-card-content>
    <p>
      J'ai adoré partir en voyage !
    </p>
  </mat-card-content>
</mat-card>
<br>
<mat-card class="student-card">
  <i class="material-icons">
    person
  </i>
  <mat-card-content>
    <p>
      Ce semestre à l'étranger m'a beaucoup appris
    </p>
  </mat-card-content>
</mat-card>
<br>
<mat-card class="student-card">
  <i class="material-icons">
    person
  </i>
  <mat-card-content>
    <p>
      Cette expérience a été la meilleure de ma vie !!
    </p>
  </mat-card-content>
</mat-card>
