span {
  text-align: center;
  margin-left: 50%;
}

.roundedImage{
  max-width: 30%;
}

.mat-card-content{
  float: right;
}

.comment-card1{
  border-radius: 5px;
  box-shadow: 5px 5px 5px grey;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}

.comment-card2{
  border-radius: 5px;
  box-shadow: 5px 5px 5px grey;
  grid-row: 2 / 3;
  grid-column: 2 / 3;

}

.comment-card3{
  border-radius: 5px;
  box-shadow: 5px 5px 5px grey;
  grid-row: 3 / 4;
  grid-column: 2 / 3;

}

img{
  max-width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 150px;
}

.presentation-card1 {
  height: 150px;
  display: block;
  align-content: center;
  grid-column: 2 / 3;
  grid-row: 3 / 5;
  background-color: white;
}

.presentation-card2 {
  height: 150px;
  display: block;
  align-content: center;
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  background-color: white;
}

.image-slider {
  grid-column: 1 / 4;
  grid-row: 1 / 4;
}

.grid_container {
  display: grid;
  height: 35vh;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: auto auto auto;
  margin-bottom: 20%;
}
.grid_container2 {
  display: grid;
  height: 35vh;
  grid-template-rows: auto auto auto auto auto;
  grid-template-columns: auto 50% auto;
  grid-row-gap: 10px;
}
.app-footer{
  grid-column: 1 / 4;
  grid-row: 5/6;
}
