span {
  text-align: center;
  margin-left: 50%;
}

.roundedImage{
  max-width: 30%;
  border-radius:50px;
  padding-top: 25px;
}

.mat-card-content{
  float: right;
}

.comment-card {
  max-width: 400px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px grey;

  margin-left: auto;
  margin-right: auto;
}

img{
  max-width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 150px;
}

.presentation-card {
  height: 150px;
  width: 50%;
  margin: auto;
  display: block;
  align-content: center;
}

