<br>
<mat-card class="presentation-card">
  <mat-card-title>Présentation</mat-card-title>
  <mat-card-content>
    Nous coopérons avec plusieurs universités étrangères.
    Les élèves-ingénieurs peuvent participer à des programmes d'échanges en Europe,
    aux Etats-Unis, au Canada, en Chine, en Corée du Sud, en Thaïlande ou au Vietnam.
    En Europe, nous avons des accords avec près de 200 universités dans 25 pays.
  </mat-card-content>
</mat-card>

<br>
<br>
<img src="../../assets/img/leadImage_extra-full.jpg">
<br>
<br>
<mat-card class="comment-card">
  <i class="material-icons">
    person
  </i>
  <mat-card-content>
    <p>
      J'ai adoré partir en voyage !
    </p>
  </mat-card-content>
</mat-card>
<br>
<mat-card class="comment-card">
  <i class="material-icons">
    person
  </i>
  <mat-card-content>
    <p>
      Ce semestre à l'étranger m'a beaucoup appris
    </p>
  </mat-card-content>
</mat-card>
<br>
<mat-card class="comment-card">
  <i class="material-icons">
    person
  </i>
  <mat-card-content>
    <p>
      Cette expérience a été la meilleure de ma vie !!
    </p>
  </mat-card-content>
</mat-card>

