.mat-card {
  width:90%;
  margin: auto;
}

.tmp {
  flex: 1 1 auto;
}

.mat-toolbar {
  background-color: white;
  margin: 0;
  padding: 0;
}

div {
  display: block;
}

.mat-table {
  width: 100%;
}
