<button mat-button routerLink="../../">Retour</button>
<div *ngIf="currentStudent != undefined && bri != undefined">
  <app-student-info [currentStudent]="currentStudent"></app-student-info>

  <br>

  <app-student-info-wishes [currentStudent]="currentStudent"></app-student-info-wishes>

  <br>

  <mat-card class="card-button">
    <mat-toolbar>
      <button mat-button color="warn" (click)="refuseStudent()">Refuser le dossier</button>
      <span class="tmp"></span>
      <button mat-button color="primary" (click)="acceptStudent()">Valider le dossier</button>
    </mat-toolbar>
  </mat-card>
</div>
