<app-filter-bar [teacher]="teacher" (universityEvent)="updateUniversity($event)" (nameEvent)="updateName($event)"></app-filter-bar>
<br>
<mat-card>
  <mat-card-title>Liste de voeux</mat-card-title>
  <mat-card-content>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let student of studentsFilter">

        <mat-expansion-panel-header>
          <mat-panel-title>
            {{student.lastName}} {{student.firstName}}
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-list>
          <mat-list-item *ngFor="let wish of student.studentInfo.wishes">
            {{wish.university.country}} - {{wish.university.name}}
            <mat-divider></mat-divider>
          </mat-list-item>
        </mat-list>

        <mat-action-row>
          <button mat-button routerLink="student/{{student._id}}" color="primary">Voir cet étudiant</button>
        </mat-action-row>

      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>

